Source: ros-melodic-schunk-libm5api
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-libntcan, ros-melodic-libpcan
Homepage: http://ros.org/wiki/schunk_libm5api
Standards-Version: 3.9.2

Package: ros-melodic-schunk-libm5api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-libntcan, ros-melodic-libpcan
Description: This package wraps the libm5api to use it as a ros dependency.
 Original sources from http://www.schunk-modular-robotics.com/fileadmin/user_upload/software/schunk_libm5api_source.zip.
